<%- include("../partials/header") %> 
<%- include("../partials/navbar") %> 

<!-- Blog Posts -->
<div class="container blogpost">
  <%- include("../partials/flash") %> 

      <div class="card mb-3 mt-5">
        <img src="<%= post.image %> " class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %> </h5>
          <p class="card-text"><%= post.description %> </p>
          <a href="/blog/<%= post._id %>/edit " class="btn btn-warning">Edit</a>

          <form action="/blog/<%= post._id %>?_method=DELETE" method="POST" style="display: inline-block;">
            <button class="btn btn-danger">Delete</button>
          </form>

          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div> 
       
      <div class="col-7 mb-3 mt-3">
        <h4>Comments</h4>
        
          <div class="mb-3 mt-3">
            <%for(review of post.reviews){%>
                <script>console.log(review.rating);</script>
                <div class="card mb-3">
                    <div class="card-header">
                      <%=review.name%> says
                    </div>
                    <div class="card-body">
                      <!-- <h5 class="card-title"></h5> -->
                      <p class="card-text"><%=review.comment%></p>
                    </div>
                  </div>
            <%}%>
          </div>

          <div class="mt-5">
            
            <h4><u>Leave a Review</u></h4>
            <br>
            <form action="/blog/<%= post._id %>/review " method="POST"   novalidate>
                                           
                  <div class="mb-3">
                    <label for="Comment" class="form-label"><b>Comment</b></label>
                    <textarea class="form-control" id="description" cols="35" rows="3" name="comment" required></textarea>
                  </div>
                  <div class="col-6 mb-3" >
                    <label for="name" class="form-label"><b>Name</b></label>
                    <input type="text" class="form-control"  id="name" name="name" required>
                  </div>
                  <button class="btn btn-success">Create</button>
            </form>

          </div>

        </div>
     
</div>


<%-include("../partials/footer") %> 
